* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, input, select, button, option {
  font-family: 'Inter', sans-serif;
  background-color: #09090B;
  color: #FAFAFA;
}

/* app */

#app {
  padding: 40px 20px;
  max-width: 320px;
  margin: auto;
}

input,
select {
  all: unset;
}

input,
select,
button {
  width: 100%;
}

#field {
  display: grid;
  gap: 8px;
}

#field-wrapper {
  padding: 18px;
  background-color: #09090B;
  border: 1px solid #27272A;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.field-wrapper:focus-within {
  outline:  2px solid yellowgreen;
}